<div class="index-background">
  <h1 class="text-center text-primary">LOOPEY HABITS</h1>
  <br />

  <h2 class="text-center fw-light">the personal tracker app that helps you
    tracking your habits!</h2>
  <br />

  <div class="carousel-caption">Create personalized habits which you can track
    in your user-profile!</div>
  <br />

  <h4 class="text-center">Let's GO ! 🚀 </h4>
</div>