<h1 class="text-center text-primary">LOOPEY HABITS</h1>
<br />

<h2 class="fw-light">the personal tracker app that helps you tracking your
  habits!</h2>
<br />

<div class="">
  <img
    src="./images/default_habit_img.jpeg"
    class="img-fluid object-fit-none border rounded"
  />
  <h3 class="carousel-caption --bs-success">Create personalized habits which you
    can track in your user-profile!</h3>

</div>
<br />

<h4>Let's GO ! 🚀 </h4>