

<div class="index-background">
  <div class="container-h1">
  <h1 class="text-loopey-habits">LOOPEY HABITS</h1>
  
  </div>

<div class="container-h2">
  <h2 class="text-tracker">The personal tracker app that
    helps you tracking your habits! <br> 
    <h3>Create personalized habits which
    you can track in your user-profile!
    </h3>
    </h2>
  </div>

{{#unless currentUser}}

<div class="container-button">
  <button class="button-login">
    <a href="/auth/login">LET'S GO AND LOG IN!</a>
  </button>
</div>
{{/unless}}

</div>