<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  

  <body>

     <nav>
        <a href="/">HOME</a>
         <a href="/habits">SEE HABIT LIST</a>
         <a href="/habits/create">CREATE NEW HABIT</a>
         <a href="/auth/signup">SIGNUP</a>
         <a href="/auth/login">LOGIN</a>

          <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
         </form>
      </nav>


    {{{body}}}



    <script src="/js/script.js"></script>
  </body>

</html>