body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(236, 234, 234);
}

h1 {
  color: 15px;
}

nav {
  display: flex;
  justify-content: space-around;
}
.image {
  position: relative;
}

.carousel-caption {
  font-size: xx-large;
  color: rgb(250, 246, 14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-user {
  background-color: #f25454;

}

.card-template {
  background-color:   #d5d147;
  
}

.card-body {
  color:rgb(236, 234, 234);
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.card-body-welcome {
  color:rgb(236, 234, 234);

}





