body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(236, 234, 234);
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav {
  display: flex;
  justify-content: space-around;
}

.text-over-img {
  z-index: 1;
  font-size: 1.2em;
}

.welcome-user {
  background-color: rgb(36, 149, 89);
  color: rgb(255, 255, 126)
  width: 50%;
}