body {
  padding: 50px;
  background-color: rgb(236, 234, 234);
  font-family: 'Dosis', sans-serif;

}
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif */

nav {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
.index-background {
  background-image: url("../images/default_habit_img.jpeg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
 
}

.container-h1 {
  background-color: #f25454;
  padding-top: 3em;
  display: flex;
  justify-content: center;
}
.text-loopey-habits {
  color: white;
}

.container-h2 {
  background-color: #a7a4a4;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
}

.container-button {
 display: flex;
 justify-content: center;
 padding-top: 3em;
 text-align: center;
}

.button-login {
  background-color: #f25454;
  border-radius: 12px;
  padding: 3em;
  box-shadow: 0px 0px 4px 4px white;
  border-style: none;
}

.button-login a {
  color: white;
  text-decoration: none;
  font-size: x-large;
}



nav {
  display: flex;
  justify-content: space-around;
}
.image {
  position: relative;
  opacity: 0.4;
}

.welcome-user {
  background-color: #f25454;
}

.card-template {
  background-color: #e2e2e1;
  margin: 2em;
  box-shadow: 0px 0px 4px 4px #f25454;
}

.card-body {
  color: rgb(236, 234, 234);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-body-welcome {
  color: rgb(236, 234, 234);
  padding: 2em;
}

.card-title {
  font-weight: bold;
}

 .create-btn-container {
display: flex;
justify-content: center;
text-align: center;
padding: 5em;
}

.create-btn a {
 text-decoration: none;
color: rgb(82, 79, 79);
font-size: x-large;
font-weight: 100;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-btn {
  margin: 1em;
}

.delete-btn {
  margin: 1em;
}






