<h2>Create a habit</h2>

<form method="POST" action="/habits/create">
  <label>
    Title:
    <input type="text" name="title" />
  </label>

  <label>
    Categories:

    <select name="category">
      <option value="disabled selected">Choose category</option>
      <option value="Health and Fitness">Health and Fitness</option>
      <option value="Financial Management">Financial Management</option>
      <option value="Life Style and Well-being">Life Style and Well-being</option>
      <option value="Personal Development">Personal Development</option>
      <option value="Productivity">Productivity</option>
    </select>

  </label>
  <br />

  <label>
    Your personal goals:
    <br />
    <textarea name="goals" cols="30" rows="4"> </textarea>
  </label>

  <button class="btn btn-outline-dark" type="submit"> Create </button>
</form>